extends layout

block content
  h1= title
  - let cars=results
  div(class="container-fluid")
    div(class="row m-1")
      each car in cars
        - let destination = `dispatch(\"/resource/update?id=${car._id}\")`
        div(class="col-sm-2 "  class="m-1")  #{car.Name} - #{car.Company} - #{car.Price} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
      function dispatch(path){
      window.location.href=path
      }    