extends layout

block content
  h1= title

  - let carid = toShow._id
  - let carName = toShow.Name
  - let carCompany = toShow.Company
  - let carPrice = toShow.Price
  div
    div.row
      div(class='carAttr mr-3') Car Id is:
      div #{carid}
    div.row
      div(class='carAttr mr-3') Car Type is:
      div #{carName}
    div.row
      div(class='carAttr mr-3') Car Size is:
      div #{carCompany}
    div.row
      div(class='carAttr mr-3') Car Cost is:
      div #{carPrice}